_temp_fig
org-mode/.ob-jupyter
diss-docs/main_doc/*.odt
diss-docs/books/edmund-lai-book/*

# file types that should be ignored
*.png
*.toc
*.zip
*.mp4
*.log
*.aux
*.tex.tex
*.out
*.hypb
*.bib
.auctex-auto
!proc-meth.png
!test-first.png
!diss-docs/main_doc/decimation/*.png
!diss-docs/main_doc/sig_proc_plots/*.png
# this is for the prefixes emacs and latex uses in generating THE DOC
pdfs*
_minted*
