_temp_fig
org-mode/.ob-jupyter
dissertation document/main_doc/*.odt
dissertation document/books/

# file types that should be ignored
*.png
*.toc
*.zip
*.mp4
*.log
*.aux
*.tex.tex
*.out
*.hypb
.auctex-auto
!flowcharts/*.png
# this is for the prefixes emacs and latex uses in generating THE DOC
pdfs*
_minted*
