_temp_fig
org-mode/.ob-jupyter
diss-docs/main_doc/*.odt
diss-docs/books/edmund-lai-book/*

# file types that should be ignored
diss-docs/main_doc/*-corrections*
diss-docs/main_doc/src/*.tex
diss-docs/books/*.pdf
diss-docs/main_doc/src/*.pdf
diss-docs/main_doc/src/wisker*
*.png
*.jpg
*.toc
*.zip
*.lof
*.lot
*.mp4
*.log
*.aux
*.tex.tex
*.out
*.hypb
*.bib
.auctex-auto
!proc-meth.png
!test-first.png
!diss-docs/main_doc/decimation/*.png
!diss-docs/main_doc/sig_proc_plots/*.png
!diss-docs/Presentation/*.png
!diss-docs/main_doc/src/*.png

# I use the name output for debug purposes
diss-docs/main_doc/src/output.png
# this is for the prefixes emacs and latex uses in generating THE DOC
pdfs*
_minted*

# for presentation
node_modules
reveal.js
gimp_edits
# assets
dist
*tmp*
*~undo-tree~
*-lock*
*cache*
sign_overview/butter*

# config files
.pylintrc
